DATABASE_URL=postgresql://postgres:postgres@localhost:5432/typeahead_db
REDIS_NODE_1=localhost:6379
REDIS_NODE_2=localhost:6380
REDIS_NODE_3=localhost:6381


#if you are running it locally you can use this as your env file